Content/AutomotiveBridgeScene/Textures/Environment/T_Asphalt_Cracked_A.uasset filter=lfs diff=lfs merge=lfs -text
Content/AutomotiveBridgeScene/Textures/Environment/T_Asphalt_Cracked_N.uasset filter=lfs diff=lfs merge=lfs -text
